# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
.turbo
out
build
coverage

# Env
.env
.env.local
.env.*.local
.env.production
!.env.production.example

# IDE / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Misc
*.tsbuildinfo
.eslintcache
